<div class="grid grid-cols-2 lg:flex lg:justify-between lg:items-center bg-white lg:bg-[#F5F5F5]">
        <div class="order-1 lg:hidden p-[32px]">
                <button (click)="handleToppleNav()"><mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon></button>
        </div>
        <div class="col-span-2 order-3 lg:order-1 bg-[#F5F5F5] p-[32px]">
                <h1 class="text-2xl">Hi, Anthony</h1>
                <p class="text-xl">Let's finish your task today!</p>
        </div>
        <div class="order-2 p-[32px] flex justify-end">
                <div>
                        <img class="w-10 h-10 rounded-full" src="assets/user.jpeg" alt="User's name" />
                </div>
        </div>
</div>