<div class="bg-white p-11 rounded h-full">
  <div class="flex">
    <div class="text-center">
      <h4 class="font-bold">Total Task</h4>
      <p class="font-bold text-6xl">13</p>
    </div>
    <div></div>
  </div>
  <div class="flex justify-between text-center mt-4">
    <div class="">
      <h4
        class="text-[10px] font-medium px-3 h-[24px] bg-[#FFB800] rounded-full flex items-center mb-1"
      >
        Ongoing Task
      </h4>
      <p class="text-4xl">13</p>
    </div>
    <div class="">
      <h4
        class="text-[10px] font-medium px-3 h-[24px] bg-[#07A546] text-white rounded-full flex items-center mb-1"
      >
        Completed Task
      </h4>
      <p class="text-4xl">5</p>
    </div>
  </div>
</div>
